@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px #2d3d36;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px #2d3d36;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: auto;
  background-color: #fffef5;
}

main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.snap-section {
  scroll-snap-align: center;
}

.heroImage[data-status="inactive"] {
  opacity: 0;
}

.heroImage[data-status="active"] {
  opacity: 100;
  transition-duration: 25ms;
}

@media only screen and (max-width: 768px) {
  main {
    scroll-padding-bottom: 100px;
  }
  .snap-section {
    scroll-snap-align: end;
  }
}

[data-inviewport="slide-left"] {
  transition: 1s;
  transition-timing-function: ease-out;
  opacity: 0;
  position: relative;
  left: -100px;
}

[data-inviewport="slide-left"].is-inViewport {
  opacity: 1;
  position: relative;
  left: 0px;
}

[data-inviewport="slide-bottom"] {
  transition: 1s;
  transition-timing-function: ease-out;
  opacity: 0;
  position: relative;
  bottom: -100px;
}

[data-inviewport="slide-bottom"].is-inViewport {
  opacity: 1;
  position: relative;
  bottom: 0px;
}

[data-inviewport="slide-right"] {
  transition: 950ms;
  transition-delay: 650ms;
  transition-timing-function: ease-in-out;
  opacity: 0;
  position: relative;
  right: -100px;
}

[data-inviewport="slide-right"].is-inViewport {
  opacity: 1;
  position: relative;
  right: 0px;
}
/* html,
body {
  padding: 0;
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  background-color: #fffef5;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  body,
  html {
    overflow: hidden;
  }
}

@keyframes zoomout {
  0% {
    transform: scale(1);
    opacity: 1;
    overflow: hidden;
  }

  100% {
    height: 0;
    width: 0;
    transform: translateX(-1000px);
    opacity: 0;
    overflow: hidden;
  }
}

@keyframes zoomin {
  0% {
    height: 25%;
    width: 25%;
    transform: scale(0);
    transform: translateY(-100px);
    opacity: 0;
    overflow: hidden;
  }

  100% {
    height: 100%;
    width: 100%;
    transform: scale(1);
    transform: translateY(0px);
    opacity: 1;
    overflow: hidden;
  }
}

@keyframes spinAcross {
  0% {
    transform-origin: center;
    transform: translateX(-200px) rotate(0deg);
    opacity: 0;
  }

  10% {
    transform: translateX(-190px) rotate(10deg);
    opacity: 1;
  }

  99% {
    transform: translateX(190px) rotate(1400deg);
  }

  100% {
    opacity: 0;
    transform: translateX(200px) rotate(1440deg);
  }
}

.zoomOutContainer {
  animation: zoomout 1s ease;
}

.zoomInContainer {
  animation: zoomin 1s ease;
}

.hiddenContent {
  display: none;
}

.spinAcrossScreen {
  animation: spinAcross 8s infinite;
}

@keyframes rotateDots {
  0% {
    transform: translateX(45px);
  }

  12.5% {
    transform: translateX(45px);
  }

  25% {
    transform: translateY(45px);
  }

  50% {
    transform: translateY(45px);
  }

  62.5% {
    transform: translateX(-45px);
  }

  75% {
    transform: translateX(-45px);
  }

  87.5% {
    transform: translateY(-45px);
  }

  100% {
    transform: translateY(-45px);
  }
} */
